<%- include('../includes/head.ejs') %>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://js.stripe.com; frame-src 'self' https://js.stripe.com https://checkout.stripe.com;">
<link rel="stylesheet" href="/css/cart.css">
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51Ri7yeRh2ABojqq4FFKrEPKCxswsC1QAIngnplOdo9L89tKgbtzKfrtjHrxIzSP3eMla4n23kEBqWhIKfh52ShFT00o1wR5QZr');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', async function() {
                    console.log("button clicked......");
                    
                    const res= await stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    console.log(res);
                    });
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>